{% extends 'template.html' %}
{% block content %}

  <div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include '_header.html' %}
            {% include '_copyright.html' %}
            
      <div class="col-md-6">
        <div class="card shadow mb-3">
          <div class="card-body">

            <form action="{{url_for('home')}}" method="POST" enctype="multipart/form-data">
              <input type="file" name="file" />
              <input type="submit" />
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
